NODE_ENV=development
PORT=3000

DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_NAME=coffee_marketplace
DATABASE_USERNAME=postgres
DATABASE_PASSWORD=password

REDIS_HOST=localhost
REDIS_PORT=6379

JWT_ACCESS_SECRET=coffee-marketplace-access-secret-2026-very-secure
JWT_REFRESH_SECRET=coffee-marketplace-access-secret-2026-very-secure